<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="ConfigInjector" version="2.2.1175.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="3.5.8" targetFramework="net461" />
  <package id="Nimbus" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.Autofac" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.InfrastructureContracts" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.Logger.Serilog" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.MessageContracts" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.Serializers.Json" version="3.0.0.1200" targetFramework="net461" />
  <package id="Nimbus.Transports.Redis" version="3.0.0.1200" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Exceptions" version="2.0.0" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net461" />
</packages>